<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		{% if page.title %}
		<title>{{ page.title }} - {{ site.main_title }}</title>
		{% else %}
		<title>{{ site.main_title }} - {{ site.tagline }}</title>
		{% endif %}

		{% if page.excerpt %}
		<meta name="description" content="{{ page.excerpt }}" />
		{% else %}
		<meta name="description" content="{{ site.description }}" />
		{% endif %}

        {% if page.tags %}
		<meta name="keywords" content="{{ page.tags | join: "," }}" />
		{% else %}
		<meta name="keywords" content="{{ site.keywords | join: "," }}" />
		{% endif %}

		<meta name="author" content="An Author">
		<link href="/atom.xml" rel="alternate" title="Example Feed" type="application/atom+xml" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="/favicon.ico">

		<link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/style.css">

		{% if page.home_link %}<link rel="start" href="{{ page.home_link }}">{% endif %}
		{% if page.up_link %}<link rel="up" href="{{ page.up_link }}">{% endif %}
		{% if page.previous_link %}<link rel="prev" href="{{ page.previous_link }}">{% endif %}
		{% if page.next_link %}<link rel="next" href="{{ page.next_link }}">{% endif %}

		<script src="/js/libs/modernizr-1.7.min.js"></script>
	</head>
	<body>
		<div id="container">
			<header id="header">
			<h1>
				<a href="/">Autoblog</a>
			</h1>
			<nav>
				<ul>
					<li><a href="/">Archives</a></li>
					<li><a href="/atom.xml">RSS Feed</a></li>
				</ul>
			</nav>
			</header>
			<section id="main" role="main" class="row">
				<div class="fullline grid_12 column"></div>
				{{ content }}
			</section>
			<footer id="footer" class="row">
			</footer>
		</div> <!--! end of #container -->

		<!-- JavaScript at the bottom for fast page loading -->

		<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
		<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.5.1.min.js">\x3C/script>')</script>

		<!--[if lt IE 7 ]>
		<script src="/js/libs/dd_belatedpng.js"></script>
		<script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
		<![endif]-->

		<script>
			var _gaq=[['_setAccount','UA-CHANGEME'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
				g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
				s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
</html>
